/* CSS Document b6 */

/* #Basic Styles
================================================== */
body{
    font-family: helvetica, arial, sans-serif;
    font-size: 1.000em;
    line-height: 22px;
    letter-spacing: 1px;
	background-image: url(../images/foxtail.png);
	background-repeat: repeat;
	background-position: top center;
	color: white;
}

#page{
	width:90%;
	margin:0 auto;
	background: #8dc541;
	padding:2%;
	position: relative;
	border-radius:15px;
	box-shadow: 2px 2px 5px #2c2c2c;
}

header { 
	background: #51a0a8;
	box-shadow: 2px 2px 5px #2c2c2c;
}

/* #Typography
================================================== */
p{
   font-weight: lighter;
   padding: 1% 1% 1% 1%;
}

h3, h2{
	font-family: 'Aguafina Script', cursive;
}
h2{ 
	font-size: 36px;
}

/* #Links
================================================== */
a:link{
	/*color of links*/
    color: #0177bd;
    text-decoration: none;
}

a:visited{
	/*color the links turn after being visited*/
    color: #88479b;
}

a:hover{
	/*color link changes when it's hovered over*/
    color: white;
    text-decoration: underline;
}

a:active{
    color: #F28159;
}
a {
	cursor: pointer;  
}
	
/* #Navigation
================================================== */
nav{
	text-align: left;	
	box-shadow: 1px 2px 2px #;
}

nav li{
	display: inline-block;
	margin: 0px 25px;
	border-witch: 0 1px;
}

/* #Accordian Navigation
================================================== */
.about2 { 
	margin: 0px; 
	padding: 5px; 
	color: #f26c21; 
}

#accordion {
	clear: both;
	margin: 10px 0px 5px 0px;
	padding: 10px 0px 1px 0px;
	width: 100%;
	background: #51a0a8;
	list-style: none;
	border-radius: 8px;
	box-shadow: 2px 2px 5px #2c2c2c;

}
#accordion li{
	display: block;
	background-color: white;
	font-weight: bold;
	margin: 5px;
	cursor: pointer;
	padding: 5px 5px 5px 7px;
	list-style: circle;
	border-radius: 8px;
	color: #f26c21;
}
#accordion ul {
	list-style: none;
	padding: 0px;
	display: none;
}
#accordion ul li{
	font-weight: normal;
	cursor: pointer;
	background-color: #fff;
}

/* #Buttons
================================================== */
#register, #addbtn, #submit {
	text-align: right;
}
input[type="register"], input[type="addbtn"], input[type="submit"] {
    background-color: #51a0a8;
    border: 1px solid #069;
    border-radius: 5px;
    color: #FFFFFF;
    margin-top: 10px;
    padding: 5px;
}

input[type="register"]:hover, input[type="addbtn"]:hover, input[type="submit"]:hover {
	background-color: #8dc541;
	cursor: pointer;
}
.logout {
	text-align: right;
}
#btn { 
	float: right;
}

/* #images
================================================== */
.logo img{
	width: 40%;
	float: right;
	clear: both;
	padding: 0px 0px 20px 0px;
}

.col figure{
	padding: 0px 60px 0px 0px;
}
.col-1 figure{ 
	padding: 5px 0px 0px 0px;
}
.col figure, col-1 figure {
	width: 30%;
	float: left;
	margin: 1%;
}

/* #Table
================================================== */
table{
	border-spacing: 0px;
	width: 100%;
	margin-top: 30px;
}

.tab, tr{
	background-color: #51a0a8;	
	font-size: 90%;
	margin: 0px;
}

.tab{
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px black;
	padding: 2px;
}

tr, td{
	padding: 5px 30px 5px 10px;
	border-top: 1px solid #f1f8fe;
	border-bottom: 1px solid #cbd2d8;
	border-right: 1px solid #cbd2d8;
	text-align: left;
	
}

.odd{
    background-color: #337f8c;
}

tr:hover{
    background-color: #f26c21;
}

/* #Form
================================================== */
fieldset{
	border-top: .1em solid #ddd;
	border-bottom: none;
	border-right: none;
	border-left:none;
	margin: 1em;
}
form, legend { 
	color: white;
}
form {
	width: 70%;
	position: relative;
	margin: 2em auto;
	border: .1em solid #9d9da0;
	background: #bf2372;
	border-radius: 0.625em;
	box-shadow: 0.3125em 0.3125em 0.6875em rgba(0,0,0,0.42);
	padding: 1em 0 em 1em;
}

#login_form { 
	width: 40%
}

input[type=text], input[type=submit], input[type=date], input[type=num], textarea, button {
	
	border: .1em solid #ddd;
	background: white;
	border-radius: 0.3125em;
	padding: 0.125em;
	margin: 0;
	margin-bottom: 0.625em;
	color: #555;
	height: 2em;
}
label, input, select {
    display:inline-block; 
}
label {
	width:30%;
    text-align:right;
	margin-right: 1em;
}

#login {
	margin-left: 25%;
    width: 40%;
}
/* #popup
================================================== */
#popup { 
    display:none; 
    position: absolute; 
    width: 80%;
	height: 70%;
    top: 150px;
    z-index:100;
}
#addform {
   padding: 10px 0px 0px 0px;
}


/* #tooltip
================================================== */
#tooltip_container{
	color: #fff;
	position: absolute;
	padding: 20px;
	max-width: 200px;
	background-color: rgba(0,0,0,.85);
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

/* #Footer
================================================== */
#footer{
	margin: 10px 0px 10px 0px;
	box-shadow: 2px 2px 5px #2c2c2c;
	background: #51a0a8;
	text-align: center;
}



